{% extends "base.html" %}
{% load static %}
{% block content %}
<section class="hero">
    <div class="offer">
        <h1 id="sale">Summer sale</h1>
        <a href="">Shop now <img src="{% static 'images/right-arrow.png' %}" alt=">" aria-labelledby="sale"></a>
    </div>
</section>
<section class="collection">
    <div class="female-collection">
        <a href="">Female collection <img src="{% static 'images/right-arrow.png' %}" alt=">" aria-hidden="true"></a>
        <img src="{% static 'images/female-collection.jpg' %}" alt="Woman fashion image">
    </div>
    <div class="male-collection">
        <a href="">Male collection <img src="{% static 'images/right-arrow.png' %}" alt=">" aria-hidden="true"></a>
        <img src="{% static 'images/male-collection.jpg' %}" alt="Man fashion image">
    </div>
</section>
{% endblock %}