{% extends "base.html" %}
{% load static %}
{% block content %}
<!-- Hero -->
<section class="hero">
    <div class="offer">
        <h1 id="sale">Summer sale</h1>
        <a href="#">Shop now <img src="{% static 'images/right-arrow.webp' %}" alt=">" aria-labelledby="sale"></a>
    </div>
</section>
<!-- Collections -->
<section class="collection">
    <div class="female-collection">
        <a href="#">Female collection <img src="{% static 'images/right-arrow.webp' %}" alt=">" aria-hidden="true"></a>
        <img src="{% static 'images/female-collection.webp' %}" alt="Woman fashion image">
    </div>
    <div class="male-collection">
        <a href="#">Male collection <img src="{% static 'images/right-arrow.webp' %}" alt=">" aria-hidden="true"></a>
        <img src="{% static 'images/male-collection.webp' %}" alt="Man fashion image">
    </div>
</section>
<!-- Top brands -->
<section tabindex="0" class="top-brands" aria-labelledby="top-brands">
    <h1 id="top-brands">Top Brands</h1>
    <div class="nike">
        <a href="#">
            <img data-tilt src="{% static 'images/nike.webp' %}" alt="Nike">
        </a>
    </div>
    <div class="puma">
        <a href="#">
            <img data-tilt src="{% static 'images/puma.webp' %}" alt="Puma">
        </a>
    </div>
    <div class="adidas">
        <a href="#">
            <img data-tilt src="{% static 'images/adidas.webp' %}" alt="Adidas">
        </a>
    </div>
</section>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tilt.js/1.2.1/tilt.jquery.min.js"></script>
{% endblock %}