{% extends "base.html" %}
{% load static %}
{% block content %}
<section class="hero">
    <div class="offer">
        <h1 id="sale">Summer sale</h1>
        <a href="">Shop now <img src="{% static 'images/right-arrow.png' %}" alt=">" aria-labelledby="sale"></a>
    </div>
</section>
<section class="collection">
    <div class="female-collection">
        <a href="">Female collection <img src="{% static 'images/right-arrow.png' %}" alt=">" aria-hidden="true"></a>
        <img src="{% static 'images/female-collection.jpg' %}" alt="Woman fashion image">
    </div>
    <div class="male-collection">
        <a href="">Male collection <img src="{% static 'images/right-arrow.png' %}" alt=">" aria-hidden="true"></a>
        <img src="{% static 'images/male-collection.jpg' %}" alt="Man fashion image">
    </div>
</section>
<section tabindex="0" class="top-brands" aria-labelledby="top-brands">
    <h1 id="top-brands">Top Brands</h1>
    <div class="nike">
        <a href="">
            <img data-tilt src="{% static 'images/nike.png' %}" alt="Nike">
        </a>
    </div>
    <div class="puma">
        <a href="">
            <img data-tilt src="{% static 'images/puma.png' %}" alt="Puma">
        </a>
    </div>
    <div class="adidas">
        <a href="">
            <img data-tilt src="{% static 'images/adidas.png' %}" alt="Adidas">
        </a>
    </div>
</section>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tilt.js/1.2.1/tilt.jquery.min.js"></script>
{% endblock %}