{% extends "base.html" %}
{% load static %}
{% load add_class %}

{% block content %}
{% if messages %}
{% for message in messages %}
<div class="message-container">
    {{message}}
</div>
{% endfor %}
{% endif %}
<div class="row profile-row">
    <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
    <h2>Profile</h2>
    <hr>
    <div class="col-12 col-lg-6">
        <form class="profile-form" method="POST" action="">
            {% csrf_token %}
            <p class="text-muted">Default Delivery Information</p>
            {% for input in form %}
            <div class="mb-3 col-12">
                {{ input|add_class:"form-control" }}
            </div>
            {% endfor %}
            <button class="primaryAction btn btn-dark" type="submit">Update</button>
        </form>
    </div>
    <div class="col-12 col-lg-6">
        <p class="text-muted">Order History</p>
        {% if orders %}
        <div class="order-history table-responsive">
            <table class="table-sm table-borderless">
                <thead>
                    <tr>
                        <th>Order Number</th>
                        <th>Date</th>
                        <th>Items</th>
                        <th>Order Total</th>
                    </tr>
                </thead>
                <tbody>
                    {% for order in orders reversed %}
                    <tr>
                        <td>
                            <a href="{% url 'order_history' order.id %}" title="{{ order.order.id }}">
                                {{ order.id|truncatechars:6 }}
                            </a>
                        </td>
                        <td>{{ order.date }}</td>
                        <td>
                            <ul class="list-unstyled">
                                {% for item, details in order.products.items %}
                                <li class="small">
                                    {{item}} - {% for size, qty in details.items %}
                                    ({{size|upper}} * {{qty}})
                                    {% endfor %}
                                </li>
                                {% endfor %}
                            </ul>
                        </td>
                        <td>${{ order.total_cost }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% else %}
        <p>
            Your order history is empty
        </p>
        {% endif %}
    </div>
</div>

{% endblock %}