{% extends "base.html" %}
{% load static %}
{% load list_index %}
{% load add_class %}
{% block extrajs %}
<script src="https://kit.fontawesome.com/69b2179d00.js" crossorigin="anonymous"></script>
{% endblock %}
{% block content %}
<div class="container checkout-cont">
    <div id="checkout-loading">
        <h1 class="text-light logo-font loading-spinner">
            <i class="fas fa-3x fa-sync-alt fa-spin"></i>
        </h1>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="checkout-form">
                <h1>Checkout</h1>
                <form action="{% url 'checkout' %}" method="post" id="checkout-form">
                    {% csrf_token %}
                    <div class="row">
                        <fieldset class="col-12 row">
                            <legend class="col-12">Personal details</legend>
                            <div class="mb-3 col-md-6">
                                {{form.full_name|add_class:"form-control"}}
                            </div>
                            <div class="mb-3 col-md-6">
                                {{form.email|add_class:"form-control"}}
                            </div>
                            <div class="mb-3 col-12">
                                {{form.phone_number|add_class:"form-control"}}
                            </div>
                        </fieldset>
                        <fieldset class="col-12 row">
                            <legend class="col-12">Delivery</legend>
                            <div class="mb-3 col-md-6">
                                {{form.city|add_class:"form-control"}}

                            </div>
                            <div class="mb-3 col-md-6">
                                {{form.county|add_class:"form-control"}}
                            </div>
                            <div class="mb-3 col-md-6">
                                {{form.country|add_class:"form-control"}}
                            </div>
                            <div class="mb-3 col-md-6">
                                {{form.postcode|add_class:"form-control"}}
                            </div>
                            <div class="mb-3 col-12">
                                {{form.street_address1|add_class:"form-control"}}
                            </div>
                            <div class="mb-3 col-12">
                                {{form.street_address2|add_class:"form-control"}}
                            </div>
                            {% if request.user.is_authenticated %}
                            <div class="mb-3 col-12 info-save">
                                <label class="form-check-label" for="id-save-info">Save this delivery information to my profile</label>
                                <input class="form-check-input ml-2 mr-0" type="checkbox" id="id-save-info" name="save-info" checked>
                            </div>
                            {% endif %}
                        </fieldset>
                        <fieldset class="col-12 mb-4 row">
                            <legend class="col-12">Payment</legend>
                            <!-- Stripe element -->
                            <div id="card-element" class="col-12"></div>
                            <!-- Form errors -->
                            <div class="mb-3 text-danger" id="card-errors" role="alert"></div>
                            <!-- Pass the client secret to the view so we can get the payment intent id -->
                            <input type="hidden" value="{{ client_secret }}" name="client_secret">
                        </fieldset>
                        <div class="col-12">
                            <button id="submit-button" name="total_cost" value="{{total}}" type="submit" class="btn btn-dark">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-lg-6 cart-preview mt-3">
            <h1>Cart preview <img src="{% static 'images/cart-edit.png' %}" alt="edit cart"></h1>
            <div class="cart-products">
                {% for item, value in cart_items.items %}
                {% for size, quantity in value.items %}
                <div class="cart-product">
                    <img src="{{item.img}}" alt="{{item.name}} image">
                    <div class="cart-product-detail">
                        <h1 id="product-name">{{item.name}}</h1>
                        <p>size <span>{{size}}</span></p>
                        <p>Qty: {{quantity}}</p>
                        <p>€{{ prices|list_index}}</p>
                    </div>
                </div>
                <hr>
                {% endfor %}
                {% endfor %}
            </div>
            <div class="col-12 checkout-total">
                <p>Total: €{{total}}</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block postloadjs %}
{{ block.super}}
{{ stripe_public_key|json_script:"id_stripe_public_key" }}
{{ client_secret|json_script:"id_client_secret" }}
<script src="{% static 'checkout/js/stripe_elements.js' %}"></script>
{% endblock %}