/* START ---------------------------------------------------------------- Navigation */

nav {
    margin-top: 30px;
}

.nav-items>li {
    width: 12%;
}

.main-links {
    width: 50%;
    display: inline-block;
    text-align: center;
}

.nav-items li {
    list-style-type: none;
    display: inline-block;
}

.nav-items a {
    text-decoration: none;
    color: black;
}

/* Navigation ------------------------------------------------------------------- END */