/* Roboto font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* START ---------------------------------------------------------------- Navigation */

nav {
    padding-top: 31px;
    overflow: hidden;
}

.nav-items {
    padding-left: 7%;
}

.logo,
.search,
.login,
.cart {
    width: 12%;
}

.main-links {
    width: 50%;
    display: inline-block;
    text-align: center;
    margin-left: -3%;
}

.nav-items li {
    list-style-type: none;
    display: inline-block;
}

.nav-items a {
    text-decoration: none;
    color: #545252;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 25px;
}

.main-links>li:nth-child(2) {
    padding: 0 40px;
}

.search {
    text-align: right;
}

.search img {
    width: 23px;
    transform: scaleX(-1);
}

.logo img {
    min-width: 127px;
    max-width: 165px;
    width: 100%;
    margin-top: -33px;
}

.cart img {
    width: 28px;
}

.cart span {
    vertical-align: super;
    font-size: 17px;
}

.login img {
    width: 24px;
    margin-bottom: 10px;
}

.login a {
    font-size: 19px;
}

nav input {
    width: 20px;
    outline: 0;
    border-width: 0 0px 1px;
}

nav .menu-btn {
    display: none;
}

/* Menu animation taken from Mikael Ainalem 
at https://codepen.io/ainalem/pen/wvKOEMV */

.menu {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    padding: 0;
    margin-left: 50%;
}

.line {
    fill: none;
    stroke: #545252;
    stroke-width: 6;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
        stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line1 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
}

.line2 {
    stroke-dasharray: 60 60;
    stroke-width: 6;
}

.line3 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
}

.opened .line1 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
}

.opened .line2 {
    stroke-dasharray: 1 60;
    stroke-dashoffset: -30;
    stroke-width: 6;
}

.opened .line3 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
}

/* end of copied code*/

nav svg {
    width: 40px;
}

nav button {
    margin: 0 auto;
}

.first {
    order: 4;
    display: initial !important;
    width: 100%;
    margin-top: 20px;
    margin-left: 0;
}

.second {
    order: 5;
    display: initial !important;
    width: 50%;
    text-align: end;
    margin-top: 20px;
}

.second a {
    margin-right: 9px;
}

.third {
    order: 6;
    display: initial !important;
    width: 50%;
    text-align: start;
    margin-top: 13px;
}

.third img {
    margin-left: 40px;
}

/* Navigation ------------------------------------------------------------------- END */

/* START ---------------------------------------------------------------- Media query */

@media only screen and (max-width: 1000px) {
    .nav-items {
        display: flex;
        flex-wrap: wrap;
        padding: 0;
    }

    .nav-items a {
        font-size: 23px;
    }

    .login a {
        font-size: 18px;
    }

    nav .logo {
        order: 2;
        text-align: center;
        width: 33%;
    }

    nav .search {
        order: 1;
        text-align: center;
        width: 33%;
    }

    .search input {
        margin-top: 40px;
    }

    .main-links,
    nav .login,
    nav .cart {
        display: none;
    }

    nav .menu-btn {
        display: initial;
        order: 3;
        text-align: center;
        width: 33%;
        margin-top: 10px;
    }
}

@media only screen and (min-width: 1950px) {
    .nav-items a {
        font-size: 1.8vw;
    }

    .login a {
        font-size: 1.3vw;
    }

    .cart span {
        font-size: 1.1vw;
    }

    .login img {
        width: 1.6vw;
    }

    .cart img,
    .search img,
    nav input {
        width: 1.9vw;
    }

    .search img {
        margin-bottom: 17px;
    }

    .logo img {
        max-width: none;
    }
}

/* Media query ------------------------------------------------------------------ END */