/* Search by section:
    Navigation
    Hero
    Collection
    Top brands
    Product page
    Footer
    Media query
*/

/* Roboto font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* START ---------------------------------------------------------------- Navigation */

nav {
    padding-top: 31px;
    overflow: hidden;
    background-color: white;
}

.nav-items {
    padding-left: 7%;
}

.logo,
.search,
.login,
.cart {
    width: 12%;
}

.main-links {
    width: 50%;
    display: inline-block;
    text-align: center;
    margin-left: -3%;
}

.nav-items li {
    list-style-type: none;
    display: inline-block;
}

#initial {
    display: initial;
}

.order {
    order: 4;
    width: 100%;
    text-align: center;
}

.nav-items a {
    text-decoration: none;
    color: #545252;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 25px;
}

.main-links>li:nth-child(2) {
    padding: 0 40px;
}

.search {
    text-align: right;
}

.search img {
    width: 23px;
    transform: scaleX(-1);
}

.logo img {
    min-width: 127px;
    max-width: 165px;
    width: 100%;
    margin-top: -33px;
}

.cart img {
    width: 28px;
}

.cart span {
    vertical-align: super;
    font-size: 17px;
}

.login img {
    width: 24px;
    margin-bottom: 10px;
}

.login a {
    font-size: 19px;
}

nav input {
    width: 20px;
    outline: 0;
    border-width: 0 0px 1px;
}

nav .menu-btn {
    display: none;
}

/* Menu animation taken from Mikael Ainalem 
at https://codepen.io/ainalem/pen/wvKOEMV */

.menu {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    padding: 0;
    margin-left: 50%;
}

.line {
    fill: none;
    stroke: #545252;
    stroke-width: 6;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
        stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line1 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
}

.line2 {
    stroke-dasharray: 60 60;
    stroke-width: 6;
}

.line3 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
}

.opened .line1 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
}

.opened .line2 {
    stroke-dasharray: 1 60;
    stroke-dashoffset: -30;
    stroke-width: 6;
}

.opened .line3 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
}

/* end of copied code*/

nav svg {
    width: 40px;
}

nav button {
    margin: 0 auto;
}

.first {
    order: 4;
    display: initial !important;
    width: 100%;
    margin-top: 20px;
    margin-left: 0;
    padding: 0;
}

.second {
    order: 5;
    display: initial !important;
    width: 50%;
    text-align: end;
    margin-top: 20px;
}

.second a {
    margin-right: 9px;
}

.third {
    order: 6;
    display: initial !important;
    width: 50%;
    text-align: start;
    margin-top: 13px;
}

.third img {
    margin-left: 40px;
}

/* Navigation ------------------------------------------------------------------- END */

/* START ----------------------------------------------------------------------- Hero */

.hero {
    background-image: url("../images/hero.webp");
    height: 70vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    box-shadow: inset 2px 17px 20px 6px #00000096;
}


.offer {
    position: sticky;
    top: 32%;
    left: 60%;
    width: 283px;
}

.offer>* {
    font-family: 'Roboto', sans-serif;
    color: white;
}

.offer img {
    filter: invert(1);
    width: 20px;
    transition: transform .25s ease-in-out;
}

.offer a:hover>img {
    transform: translate(7px, 0);
}

.hero h1 {
    font-weight: 400;
    text-transform: uppercase;
    font-size: 41px;
}

.hero a {
    text-decoration: none;
    font-weight: 200;
    font-size: 20px;
    margin-left: 14px;
}

.hero a:hover {
    color: white;
}

/* Hero ------------------------------------------------------------------------- END */

/* START ----------------------------------------------------------------- Collection */

.collection {
    background-color: #EEEEEE;
    width: 100%;
    text-align: center;
    position: relative;
}

.male-collection,
.female-collection {
    width: 49%;
    display: inline-block;
}

.female-collection {
    text-align: right;
}

.male-collection {
    text-align: left;
}

.collection img {
    width: 80%;
    margin: 20px 0;
}

.collection a {
    text-decoration: none;
    font-weight: 400;
    font-size: 40px;
    color: white;
    margin-left: 70px;
    text-align: left;
    line-height: 33px;
    max-width: 267px;
}

.collection a:hover {
    color: white;
}

.female-collection a {
    position: absolute;
    top: 8%;
}

.male-collection a {
    position: absolute;
    bottom: 8%;
}

.collection a img {
    filter: invert(1);
    width: 70px;
    display: inline-block;
    transition: transform .25s ease-in-out;
    margin-top: -23px;
    vertical-align: text-top;
}

.collection a:hover>img {
    transform: translate(7px, 0);
}

/* Collection ------------------------------------------------------------------- END */

/* START ----------------------------------------------------------------- Top brands */
.top-brands {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-image: url("../images/brands-bckg.webp");
    background-size: cover;
    height: 500px;
}


.top-brands h1 {
    width: 100%;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 60px;
    margin: 32px 0 -70px;
    text-transform: uppercase;
}

.top-brands img {
    opacity: .8;
}

.top-brands img:hover {
    opacity: 1;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 7px;
    padding: 7px;
    box-shadow: rgb(0 0 0 / 15%) 11px 11px 10px 0px;
}

.adidas img:hover {
    padding: 17px 10px;
}

.nike img {
    width: 244px;
    margin-top: 10px;
}

.puma img {
    width: 200px;
}

.adidas img {
    width: 234px;
    margin-top: 16px;
}

/* Top brands ------------------------------------------------------------------- END */

/* START --------------------------------------------------------------------- Footer */

footer {
    background-color: #2E2E2E;
    color: white;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
}

footer h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin-right: 15px;
}

footer a {
    color: transparent;
}

footer img {
    filter: invert(1);
}

.social-media {
    width: 50%;
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
}

.subscribe::before {
    content: "";
    border: 2px solid #FEDE67;
    height: 42px;
    border-radius: 10px;
    margin-right: 8%;
    margin-left: -4%;
}

.subscribe {
    width: 50%;
    display: flex;
    align-items: center;
}

footer a:nth-child(2) {
    margin: 0 35px;
}

footer form {
    margin-top: 20px;
    width: 308px;
}

footer input {
    text-align: center;
    border-radius: 4px;
    outline: 0;
    border: 0;
    width: 100%;
}

footer label {
    font-size: 14px;
}

/* Footer ----------------------------------------------------------------------- END */

/* START ------------------------------------------------------------------- Category */

.category {
    display: flex;
}

/* Filter */
.filter {
    width: 20%;
    padding-left: 3%;
}

.filter h1,
.filter h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #646464;
}

.filter h1 {
    display: inline-block;
    font-size: 21px;
    margin-bottom: 28px;
    margin-bottom: 18px;
}

.filter h2 {
    font-size: 19px;
    margin-top: 18px;
}

.filter button {
    background-color: white;
    border: 0;
    float: right;
    margin-right: 18px;
    font-size: 16px;
    text-decoration: underline;
    color: #646464;
}

.filter label {
    display: block;
    font-size: 19px;
    cursor: pointer;
    font-size: 16px;
    margin: 3px 6px;
    font-weight: 100;
}

input[type=checkbox]:checked {
    background-color: #646464;
}

.brand-filter input {
    appearance: none;
    width: 13px;
    height: 13px;
    border: 1px solid #646464;
    border-radius: 3px;
    cursor: pointer;
}

.rating-filter label {
    opacity: .4;
}

.rating-filter label:hover {
    opacity: 1;
}

.checked-rating {
    opacity: 1 !important;
}

.rating-filter input {
    appearance: none;
    margin-left: -4px;
}

.rating-filter img {
    width: 15px;
}

/* Products */
.products {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.no-products {
    display: none;
    width: 100%;
    text-align: center;
    margin-top: 40px;
}

.sort-container {
    width: 90%;
    margin-bottom: 30px;
    text-align: right;
}

.sort-container select {
    border: none;
    outline: none;
    cursor: pointer;
}

.product {
    position: relative;
    width: 320px;
    margin: 0 25px;
}

.products a {
    color: black;
    text-decoration: none;
    margin-bottom: 50px;
}

.details {
    width: 300px;
}

.product p {
    display: inline;
}

.details p:nth-child(2) {
    float: right;
}

.product-img {
    width: 300px;
    height: 300px;
    border-radius: 6px;
}

.brand-img {
    max-width: 65px;
    position: absolute;
    top: -20px;
    left: -20px;
    opacity: .7;
}

.rating {
    position: absolute;
    top: 0;
    right: -5px;
    width: 20px;
}

.rating img {
    width: 18px;
    opacity: .8;
}

.rating p {
    font-size: 14px;
    opacity: .7;
}

.product:hover img,
.product:hover p {
    opacity: 1;
}

/* Category --------------------------------------------------------------------- END */

/* START --------------------------------------------------------------- Product page */

.product-container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
    font-family: 'Roboto';
    font-weight: 300;
    color: #595858;
}

.product-desc {
    width: 450px;
}

.product-desc h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    width: fit-content;
    padding: 0 20px;
    text-align: center;
    color: #656565;
    background-color: #f3f3f3;
    font-size: 32px;
    display: inline-block;
}

#brand-img {
    margin-left: 25px;
    vertical-align: top;
    width: 60px;
    opacity: .75;
}

.product-desc p {
    font-size: 17px;
    width: 450px;
}

.product-desc button {
    background-color: transparent;
    border: none;
    display: inline-block;
    vertical-align: top;
    color: #656565;
}

#rating {
    position: initial;
    width: 97px;
    display: inline-block;
    margin-left: 10px;
}

#rating img,
#rating p {
    opacity: 1;
}

#product-img {
    width: 50%;
    text-align: right;
}

#product-img img {
    max-width: 400px;
    border-radius: 13px;
    margin-right: 31px;
}

/* Product page ----------------------------------------------------------------- END */

/* START ---------------------------------------------------------------- Media query */

@media only screen and (max-width: 450px) {

    /* Nav */
    nav {
        padding-top: 0;
    }

    .logo img {
        margin-top: -4px;
        margin-left: -3%;
        min-width: 126px;
    }

    /* Hero */
    .offer {
        top: 27%;
        text-align: center;
    }

    /* Collection */
    .collection a {
        transform: scale(.7);
        margin-left: 0;
    }

    /* Category */
    .products a {
        margin-right: 0;
        margin-left: 0 !important;
    }

    .product {
        width: 100%;
    }

    .product-img {
        width: 90%;
        height: 90%;
    }

    .details {
        width: 90%;
    }

    /* Footer */
    footer {
        height: 171px !important;
    }

    .subscribe {
        width: 100%;
        margin-top: 7px;
    }

    footer form {
        margin-top: 0 !important;
    }

    .social-media {
        width: 100%;
        justify-content: space-evenly;
    }
}

@media only screen and (max-width: 650px) {

    /* Collection */
    .female-collection,
    .male-collection {
        width: 100%;
        text-align: center;
    }

    .female-collection a {
        top: 5%;
    }

    .male-collection a {
        bottom: 4%;
    }
}

@media only screen and (max-width: 850px) {

    /* Hero */
    .hero h1 {
        font-size: 30px;
    }

    .hero a {
        font-size: 16px;
    }

    .collection a {
        transform: scale(.7);
        margin-left: 0;
    }

    /* Top brands */
    .top-brands {
        text-align: center;
        height: 700px;
    }

    .top-brands div {
        width: 100%;
    }

    .top-brands h1 {
        margin: 20px 0;
        font-size: 40px;
    }

    .nike img {
        width: 200px;
    }

    .puma img {
        width: 164px;
    }

    .adidas img {
        width: 192px;
    }

    /* Category */
    .filter {
        width: 100%;
        max-width: 348px;
    }

    .category {
        flex-wrap: wrap;
        justify-content: center;
    }

    .sort-container {
        width: 100%;
        text-align: center;
        margin: 42px auto;
    }
}

@media only screen and (max-width: 1000px) {

    /* Nav */
    .nav-items {
        display: flex;
        flex-wrap: wrap;
        padding: 0;
    }

    .nav-items a {
        font-size: 23px;
    }

    .login a {
        font-size: 18px;
    }

    nav .logo {
        order: 2;
        text-align: center;
        width: 33%;
    }

    nav .search {
        order: 1;
        text-align: center;
        width: 33%;
    }

    .search input {
        margin-top: 40px;
    }

    .main-links,
    nav .login,
    nav .cart {
        display: none;
    }

    nav .menu-btn {
        display: initial;
        order: 3;
        text-align: center;
        width: 33%;
        margin-top: 10px;
    }

    /* Footer */
    footer {
        height: 130px;
    }

    .subscribe {
        justify-content: center;
        flex-wrap: wrap;
        text-align: center;
    }

    footer h1 {
        margin: 0;
        width: 100%;
    }

    footer form {
        margin-top: -20px;
    }

    footer input {
        width: 80%;
    }

    footer label {
        font-size: 11px;
    }

    .subscribe::before {
        display: none;
    }

    .social-media {
        order: 2;
    }
}

@media only screen and (max-width: 1100px) {

    /* Hero */
    .hero {
        background-attachment: initial
    }

    /* Footer */
    .subscribe::before {
        margin-left: -15%;
    }
}

@media only screen and (min-width: 1950px) {

    /* Nav */
    .nav-items a {
        font-size: 1.6vw;
    }

    .login a {
        font-size: 1.3vw;
    }

    .cart span {
        font-size: 1.1vw;
    }

    .login img {
        width: 1.6vw;
    }

    .cart img,
    .search img,
    nav input {
        width: 1.6vw;
    }

    .search img {
        margin-bottom: 17px;
    }

    .logo img {
        max-width: 200px;
    }

    /* Hero */
    .offer {
        width: fit-content;
    }

    .hero h1 {
        font-size: 4vw;
    }

    .hero a {
        font-size: 2vw;
    }

    /* Collection */
    .collection a {
        transform: scale(2);
        margin-left: 217px;
    }

    .female-collection a {
        top: 12%;
    }

    /* Top brands */
    .top-brands {
        height: 600px;
        background-position: 0 -190px;
    }

    .top-brands h1 {
        font-size: 3.4vw;
        margin: 32px 0 -9px;
    }

    .nike img {
        width: 280px;
    }

    .puma img {
        width: 230px;
    }

    .adidas img {
        width: 269px;
    }

    /* Category */
    .filter button,
    .product p,
    #sort {
        font-size: 19px;
    }

    .filter label {
        font-size: 20px;
    }

    .filter h1 {
        font-size: 25px;
    }

    .filter h2 {
        font-size: 24px;
    }

    /* Footer */
    footer img {
        width: 36px;
    }

    footer form {
        width: 375px;
        text-align: center;
    }

    footer input {
        height: 31px;
    }

    footer label {
        font-size: 16px;
    }

    footer h1 {
        font-size: 1.65vw;
    }
}

@media only screen and (min-width: 2400px) {

    /* Footer */
    .nav-items a {
        font-size: 1.5vw;
    }

    .login a {
        font-size: 1.2vw;
    }

    .cart img,
    .search img,
    nav input {
        width: 1.6vw;
    }
}

/* Media query ------------------------------------------------------------------ END */