{% extends "account/base.html" %}
{% load static %}
{% load i18n %}
{% load add_class %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block inner_content %}
<h2>{% trans "Sign Up" %}</h2>


<p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>
<img data-toggle="popover" title="Save your order history and payment information " src="{% static 'images/info.png' %}" alt="Signup reasons">


<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  <div class="row">
    <div class="mb-3 col-12">
      <label for="id_email">E-mail:</label>
      {{ form.email|add_class:"form-control" }}
    </div>
    <div class="mb-3 col-12">
      <label for="id_email2">E-mail (again):</label>
      {{ form.email2|add_class:"form-control" }}
    </div>
    <div class="mb-3 col-12">
      <label for="id_username">Username:</label>
      {{ form.username|add_class:"form-control" }}
    </div>
    <div class="mb-3 col-12">
      <label for="id_password1">Password:</label>
      {{ form.password1|add_class:"form-control" }}
    </div>
    <div class="mb-3 col-12">
      <label for="id_password2">Password:</label>
      {{ form.password2|add_class:"form-control" }}
    </div>
  </div>
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button class="btn btn-dark" type="submit">{% trans "Sign Up" %} &raquo;</button>
</form>

{% endblock %}