{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    {% block meta %}
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Shop top fashion brands. Summer sale ending soon.">
    <meta name="image" property="og:image"
        content="https://github.com/ihitrec/Owl_and_Hoot/raw/main/static/images/readme_images/responsive-view.png" />
    {% endblock %}

    {% block css %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% endblock %}

    {% block js %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous">
    </script>
    <script src="{% static 'js/script.js' %}"></script>
    <!-- Stripe -->
    <script src="https://js.stripe.com/v3/"></script>
    {% endblock %}

    {% block extrajs %}

    {% endblock %}

    <link rel="icon" type="image/png" href="{% static 'images/favicon.png' %}" />
    <title>Owl &amp; Hoot</title>

</head>

<body>
    {% if messagew %}
    <div class="warning-message">
        {{message}}
    </div>
    {% endif %}
    <button id="skip-nav" tabindex="0" aria-label="skip navigation links"></button>
    <!-- Nav -->
    <header>
        <nav>
            <ul class="nav-items">
                <li class="logo">
                    <a aria-label="go to homepage" href="{% url 'home' %}"><img src="{% static 'images/logo.webp' %}" alt="Logo"></a>
                </li>
                <li class="search">
                    <form id="search" action="/categories/all/" method="GET">
                        <img src="{% static 'images/search.webp' %}" alt="Search icon">
                        <input type="search" aria-label="find products" name="search" minlength="2" autocomplete="off">
                    </form>
                </li>
                <li id="initial" role="presentation">
                    <ul class="main-links" tabindex="0" aria-label="category links">
                        <li>
                            <a href="{% url 'categories' category='all' %}">All</a>
                        </li>
                        <li>
                            <a href="{% url 'categories' category='male' %}">Men</a>
                        </li>
                        <li>
                            <a href="{% url 'categories' category='female' %}">Women</a>
                        </li>
                    </ul>
                </li>
                <li class="login">
                    {% if request.user.is_authenticated %}
                    <a href="{% url 'profile' %}">
                        <img src="{% static 'images/user.png' %}" alt="Profile icon">
                        Profile
                    </a>
                    {% else %}
                    <a href="{% url 'account_login' %}">
                        <img src="{% static 'images/user.png' %}" alt="Profile icon">
                        Sign in
                    </a>
                    {% endif %}
                </li>
                <li class="cart" tabindex="0" aria-label="open cart" data-updated="{{updated}}">
                    <img src="{% static 'images/cart.webp' %}" alt="Cart icon">
                    <span>{{quantity}}</span>
                </li>
                <li id="cart">
                    {% include "cart/cart.html" %}
                </li>
                <!-- Menu btn animated -->
                <li class="menu-btn">
                    <button class="menu"
                        onclick="this.classList.toggle('opened');this.setAttribute('aria-expanded', this.classList.contains('opened'))"
                        aria-label="Main Menu">
                        <svg width="100" height="100" viewBox="0 0 100 100">
                            <path class="line line1"
                                d="M 20,29.000046 H 80.000231 C 80.000231,29.000046 94.498839,28.817352 94.532987,66.711331 94.543142,77.980673 90.966081,81.670246 85.259173,81.668997 79.552261,81.667751 75.000211,74.999942 75.000211,74.999942 L 25.000021,25.000058" />
                            <path class="line line2" d="M 20,50 H 80" />
                            <path class="line line3"
                                d="M 20,70.999954 H 80.000231 C 80.000231,70.999954 94.498839,71.182648 94.532987,33.288669 94.543142,22.019327 90.966081,18.329754 85.259173,18.331003 79.552261,18.332249 75.000211,25.000058 75.000211,25.000058 L 25.000021,74.999942" />
                        </svg>
                    </button>
                </li>
            </ul>
        </nav>
        <div class="overlay"></div>
    </header>
    {% block content %}

    {% endblock %}

    <!-- Footer -->
    <footer>
        <section class="social-media" aria-label="social media links" tabindex="0">
            <a href="https://facebook.com/" target="_blank" rel="noopener noreferrer">
                <img src="{% static 'images/facebook.webp' %}" alt="facebook">
            </a>
            <a href="https://www.instagram.com/" target="_blank" rel="noopener noreferrer">
                <img src="{% static 'images/instagram.webp' %}" alt="instagram">
            </a>
            <a href="https://twitter.com/" target="_blank" rel="noopener noreferrer">
                <img src="{% static 'images/twitter.webp' %}" alt="twitter">
            </a>
        </section>
        <section class="subscribe" aria-label="subscribe" tabindex="0">
            <h1>Subscribe</h1>
            <form action="">
                <input id="subscribe-input" type="text" placeholder="email">
                <label for="subscribe-input">get updated on special offers and new collections</label>
            </form>
        </section>
    </footer>

    {% block postloadjs %}

    {% endblock %}
</body>

</html>