{% extends "base.html" %}
{% load static %}
{% block content %}
{% if messages %}
{% for message in messages %}
<div class="message-container">
    {{message}}
</div>
{% endfor %}
{% endif %}
<div class="category">
    <section class="filter mb-5">
        <h1 tabindex="0">Filter</h1>
        <a href="#product-list" tabindex="0" aria-label="skip to product list"></a>
        <a class="btn btn-sm btn-light ms-3" href="{% url 'categories' category='all' %}">clear all</a>
        <div class="brand-filter">
            <h2 tabindex="0">Brand</h2>
            <label>
                <input type="checkbox" name="nike" id="nike" value="nike" {% if "nike" in brand  %} checked {% endif %}>
                Nike
            </label>
            <label for="puma">
                <input type="checkbox" name="puma" id="puma" value="puma" {% if "puma" in brand  %} checked {% endif %}>
                Puma
            </label>
            <label for="adidas">
                <input type="checkbox" name="adidas" id="adidas" value="adidas" {% if "adidas" in brand  %} checked {% endif %}>
                Adidas
            </label>
        </div>
        <div class="rating-filter">
            <h2 tabindex="0">Rating</h2>
            <label for="1-star">
                <input type="checkbox" name="1-star" id="1-star" value="1">
                1
                <img src="{% static 'images/star-full.png' %}" alt="star">
            </label>
            <label for="2-star">
                <input type="checkbox" name="2-star" id="2-star" value="2">
                2
                <img src="{% static 'images/star-full.png' %}" alt="stars">
                <img src="{% static 'images/star-full.png' %}" alt="">
            </label>
            <label for="3-star">
                <input type="checkbox" name="3-star" id="3-star" value="3">
                3
                <img src="{% static 'images/star-full.png' %}" alt="stars">
                <img src="{% static 'images/star-full.png' %}" alt="">
                <img src="{% static 'images/star-full.png' %}" alt="">
            </label>
            <label for="4-star">
                <input type="checkbox" name="4-star" id="4-star" value="4">
                4
                <img src="{% static 'images/star-full.png' %}" alt="stars">
                <img src="{% static 'images/star-full.png' %}" alt="">
                <img src="{% static 'images/star-full.png' %}" alt="">
                <img src="{% static 'images/star-full.png' %}" alt="">
            </label>
            <label for="5-star">
                <input type="checkbox" name="5-star" id="5-star" value="5">
                5
                <img src="{% static 'images/star-full.png' %}" alt="stars">
                <img src="{% static 'images/star-full.png' %}" alt="">
                <img src="{% static 'images/star-full.png' %}" alt="">
                <img src="{% static 'images/star-full.png' %}" alt="">
                <img src="{% static 'images/star-full.png' %}" alt="">
            </label>
        </div>
    </section>

    <section id="product-list" class="products" aria-label="product list">
        <p class="no-products">No products matching selected filter.</p>
        {% if request.user.is_superuser == False %}
        <div class="sort-container">
            <select id="sort">
                <option selected disabled>Sort by</option>
                <option value="newest">New</option>
                <option value="low">Lowest price</option>
                <option value="high">Highest price</option>
            </select>
        </div>
        {% endif %}
        {% for product in products %}
        <a data-price="{{product.price}}" data-date="{{product.date|date:'Y-m-d H:i'}}" href="{% url 'product' product=product.id %}">
            <div class="product {% if request.user.is_superuser %}mb-5{% endif %}" id="{{product.brand|lower}}">
                <img aria-hidden="true" class="product-img" src="{{product.img}}" alt="{{product.name}}">
                <img aria-hidden="true" class="brand-img" src="{% static 'images/' %}{{product.brand|lower}}.webp" alt="{{product.brand}} logo">
                <div class="details">
                    <p>{{product.name}}</p>
                    {% if product.sale_price %}
                    <p><s>{{product.price|floatformat}}</s> <span class="text-danger">€{{product.sale_price|floatformat}}</span> </p>
                    {% else %}
                    <p>€{{product.price|floatformat}}</p>
                    {% endif %}
                </div>
                {% if request.user.is_superuser %}
                <div class="product-edit mt-1">
                    <a class="btn btn-sm btn-secondary" href="{% url 'edit_product' product.id %}">Edit</a>
                    <button class="btn btn-sm btn-danger product-alert">Delete</button>
                </div>
                <div class="alert alert-warning alert-dismissible fade show d-flex align-items-center edit-alert mb-5" role="alert">
                    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
                        <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
                            <path
                                d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                        </symbol>
                    </svg>
                    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:">
                        <use xlink:href="#exclamation-triangle-fill" /></svg>
                    <div>
                        You are about to delete {{product.name}}. <a href="{% url 'delete_product' product.id %}" class="alert-link">Confirm</a>
                    </div>
                    <button type="button" class="btn-close" aria-label="Close"></button>
                </div>
                {% endif %}
                <div class="rating" {% if product.rating > 0 %} aria-label="rated {{product.rating}}" {% endif %}>
                    {{product.rating}}
                </div>
            </div>
        </a>
        {% endfor %}
    </section>
</div>

{% endblock %}

{% block postloadjs %}
<script src="{% static 'js/rating.js' %}"></script>
{% endblock %}