{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="category">
    <section class="filter">
        <h1>Filter</h1>
        <p>clear all</p>
        <h2>Brand</h2>

        <h2>Rating</h2>
    </section>
    <section class="products">
        {% for product in products %}
        <a href="#">
            <div class="product">
                <img aria-hidden="true" class="product-img" src="{{product.img}}" alt="{{product.name}}">
                <img aria-hidden="true" class="brand-img" src="{% static 'images/' %}{{product.brand|lower}}.webp" alt="{{product.brand}} logo">
                <div class="details">
                    <p>{{product.name}}</p>
                    <p>€{{product.price|floatformat}}</p>
                </div>
                <div class="rating" {% if product.rating > 0 %} aria-label="rated {{product.rating}}" {% endif %}>
                    {{product.rating}}
                </div>
            </div>
        </a>
        {% endfor %}
    </section>
</div>

{% endblock %}

{% block postloadjs %}
<script src="{% static 'js/rating.js' %}"></script>
{% endblock %}