{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="product-container">
    {% if messages %}
    {% for message in messages %}
    <div class="message-container">
        {{message}}
    </div>
    {% endfor %}
    {% endif %}
    <section id="product-img">
        <img src="{{product.img}}" alt="{{product.name}} image">
    </section>
    <section class="product-desc">
        <h1>{{product.name}}</h1>
        <img aria-hidden="true" id="brand-img" src="{% static 'images/' %}{{product.brand|lower}}.webp" alt="{{product.brand}} logo">
        <div class="rating" id="rating" {% if product.rating > 0 %} aria-label="rated {{product.rating}}" {% endif %}>
            {{product.rating}}
        </div>
        <button>Add rating</button>
        <p>{{product.description}}</p>
        <form action="{% url 'add_to_cart' product_id=product.id %}" method="POST">
            {% csrf_token %}
            <div class="sizes">
                <label for="xs">XS
                    <input type="radio" id="xs" name="size" value="xs" required>
                </label>
                <label for="s">S
                    <input type="radio" id="s" name="size" value="s">
                </label>
                <label for="m">M
                    <input type="radio" id="m" name="size" value="m">
                </label>
                <label for="l">L
                    <input type="radio" id="l" name="size" value="l">
                </label>
                <label for="xl">XL
                    <input type="radio" id="xl" name="size" value="xl">
                </label>
            </div>
            <div class="add-to-cart">
                <span id="price-span">
                    {% if product.sale_price %}
                    <s>{{product.price|floatformat}}</s> <span class="text-danger">€{{product.sale_price|floatformat}}</span>
                    {% else %}
                    €{{product.price|floatformat}}
                    {% endif %}</span>
                <button type="submit">
                    Add to cart
                </button>
                <span class="plus-minus" data-operation="+">&#43;</span>
                <input type="number" min="1" max="99" name="num-of-products" id="num-of-products" data-product="{{product.id}}" value="1" required>
                <span class="plus-minus" data-operation="-">&#8722;</span>
            </div>
        </form>
        {% if request.user.is_superuser %}
        <div class="text-center mt-3">
            <a class="btn btn-sm btn-secondary" href="{% url 'edit_product' product.id %}">Edit</a>
            <button class="btn btn-sm btn-danger product-alert">Delete</button>
        </div>
        <div class="alert alert-warning alert-dismissible fade show d-flex align-items-center edit-alert mb-5" role="alert">
            <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
                <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
                    <path
                        d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                </symbol>
            </svg>
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:">
                <use xlink:href="#exclamation-triangle-fill" /></svg>
            <div>
                You are about to delete {{product.name}}. <a href="{% url 'delete_product' product.id %}" class="alert-link">Confirm</a>
            </div>
            <button type="button" class="btn-close" aria-label="Close"></button>
        </div>
        {% endif %}
    </section>
</div>
{% endblock %}

{% block postloadjs %}
<script src="{% static 'js/rating.js' %}"></script>
{% endblock %}